$w-70: 70vw;
$h-85: 85vh;
$w-100: 100vw;
$h-100: 100vh;
$fw-2: bold;
$blue-gradient: linear-gradient(180deg,rgb(75, 33, 158) 14%, rgb(41, 21, 85) 45%);
$l-white: rgb(252, 248, 248);
$gray-200: rgb(190, 186, 186);
$dark-blue: rgb(41, 21, 85);
$bg-light: rgb(238, 233, 233);
