$w-70: 70vw;
$h-85: 85vh;
$w-100: 100vw;
$h-100: 100vh;
$fw-2: bold;
$blue-gradient: linear-gradient(180deg,rgba(37,29,101,1) 14%, rgba(27,24,69,1) 45%);
$l-white: rgb(252, 248, 248);
$gray-200: rgb(190, 186, 186);
$dark-blue: rgba(27,24,69,1);
$bg-light: rgb(238, 233, 233);
