//GLOBAL
@import "./scss/base";
@import "./scss/variables";
@import "./scss/shares";

//COMMENTS
.wrapper {
  width: $w-100;
  height: $h-100;
  @include flex;
  background-color: $bg-light;
  .container {
    @include flex();
    justify-content: flex-end;
    //@include padding(150px, 160px, 150px, 160px);
    width: $w-70;
    height: $h-85;
    position: relative;
    background-color: white;
    padding: 0;
    border-radius: 5px;
    box-shadow: 10px 10px 20px rgb(207, 209, 209);
    

    .form-left {
      @include flex(true);
      align-items: flex-start;
      @include padding(20px, 30px, 20px, 30px);
      background: $blue-gradient;
      color: $l-white;
      width: 20vw;
      border-radius: 8px;
      font-size: 19px;
      label {
        color: $gray-200;
      }
      p {
        margin-top: 0;
      }
      h1 {
        margin-top: 10px;
        margin-bottom: 30px;
        font-size: 30px;
        font-weight: normal;
      }
      @include Absolute(absolute, -10px, 0);
      .logo {
        @include padding(215px, 0, 10px, 0);
        @include flex();
        column-gap: 16px;
      }
    }
    .form-right {
      width: 40vw;
      height: 100%;
      color: $gray-200;
      @include flex(true);
      align-items: flex-start;
      row-gap: 20px;

      @include padding(5px, 40px, 20px, 40px);
      h1 {
        margin-bottom: 0;
        font-size: 30px;
        font-weight: normal;
        color: rgb(42, 41, 41);
      }
      hr {
        margin: 0;
      }

      .input {
        margin-bottom: 15px;
        width: 100%;
        height: 45px;
        @include flex(true);
        align-items: flex-start;
        row-gap: 4px;
        input {
          width: 100%;
          height: 100%;
          padding: 10px 0;
          border: 1px solid $gray-200;
          border-radius: 5px;
        }
      }
      textarea {
        width: 100%;
        height: auto;
        border: 1px solid $gray-200;
        border-radius: 5px;
      }
      button {
        background-color: $dark-blue;
        color: white;
        font-size: 20px;
        text-align: center;
        width: 100%;
        height: 45px;
        border-radius: 5px;
      }
    }
  }
}
